@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&family=Patrick+Hand&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap");

*,
html {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body::-webkit-scrollbar { width: 0 !important }
body{ overflow: -moz-scrollbars-none; }


body {
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  background-color: #222733;
}
.svg {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
}
.svg #svgg {
  z-index: -99;
  width: 300rem;
  height: 300rem;
  margin-top: -3680px;
  background-image: url("galaxy.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  animation-name: galaxy;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.header {
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: #525e65;
  align-items: center;
  padding: 1rem;
}

.header ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.header ul li {
  padding: 0 2rem 0 2rem;
  text-align: center;
}

a {
  text-decoration: none;
  font-size: 1rem;
  color: #dbe8d4;
}

.main {
  width: 100%;
  margin-top: -64rem;
  z-index: 999999;
}
.title{
  width: 100%;
  align-items: center;
  text-align: center;
}

.title h1{
  font-size: 7vw;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 200;
  color: #dbe8d4;
}

@keyframes galaxy {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.prof-img-div{
  width: 144px;
  height: 144px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5vw;
  border-radius: 50%;
}

.front, .back{
  width: 100%;
  border-radius: 50%;
}

.front img, .back img{
  width: 100%;
  border-radius: 50%;
}

.card{
  transition: transform 2s;
  transform-style: preserve-3d;
  cursor: pointer;
}
.front, .back{
  position: absolute;
  backface-visibility: hidden;
}

.front:hover{
  box-shadow: 0 0 1em #dbe8d4
}

.back:hover{
  box-shadow:0 0 1em #dbe8d4;
}


.back{
  transform:rotateY(180deg) ;
}
.front{
  transform: rotateY(0deg);
}


.flip{
  transform:rotateY(180deg);
}


.description{
  width:35%;
  display: flex;
  margin: auto;
  text-align: justify;
  margin-top: 1vw;
}

ul{
  margin: auto;
  list-style:none;
}

.description li{
  font-size: 1.2vw;
  color: #dbe8d4;
  font-weight: 600;
  line-height: 2vw;
  text-align: center;
}

.projects{
  width: 100%;
  margin-top: 10vw;
}

.project-description{
  width: 100%;
}

.project-description h4{
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 2.5vw;
  text-transform: uppercase;
  font-weight: 400;
  color: #dbe8d4;
  letter-spacing: 0.5vw;
}

.line{
  margin-top: 3vw;
  width: 100%;
  height: 0;
  display: flex;
}

.line1{
  margin: auto;
  width: 25%;
  border-bottom:4px solid #656b62 ;
}

.project-caption{
  margin-top: 4vw;
  text-align: center;
  font-size: 1.3vw;
  color: #dbe8d4;
}


.project-links{
  width: 100%;
  height: 20vw;
  margin-top: 8vw;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  overflow-x: scroll;
}

.project-links::-webkit-scrollbar { width: 0 !important }
.project-links{ overflow: -moz-scrollbars-none; }

.circle-card{
  width:260px;
  height: 260px;
  padding: 1vw;
  margin-left: 2vw;
}

.circle-card img{
  width: 260px;
  height: 260px;
  border-radius: 50%;
}

.passion{
  width: 100%;
  margin-top: 10vw;
}

.passion-description{
  width: 100%;
}


.passion-description h4{
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 2.5vw;
  text-transform: uppercase;
  font-weight: 400;
  color: #dbe8d4;
  letter-spacing: 0.5vw;
}


.passion-caption{
  margin-top: 4vw;
  text-align: center;
  font-size: 1.3vw;
  color: #dbe8d4;
}


.passion-img-div{
  width:60%;
  margin-top: 8vw;
  margin-left: auto;
  margin-right: auto;
  
}

.gallery{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem; 
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}


.gallery_item_1{
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gallery_item_2{
  grid-column-start:6;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery_item_3{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 9;
}

.gallery_item_4{
  grid-column-start: 4;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}



.insta-div{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vw;
}

.insta-div p{
  font-size: 1vw;
  text-transform: uppercase;
  font-weight: 400;
  color: #dbe8d4;
  letter-spacing: 0.5vw;
}

.insta-div button{
  margin-top: 2vw;
  padding:0.5vw 1vw 0.5vw 1vw;
  background-color: #525e65;
  border: none;
  border-radius: 2em;
  width: 10vw;
  height: 3vw;
}

.insta-div button a{
  font-size: 1vw;
}

.insta-div button:hover{
  box-shadow: 0 0 0.5em 0.1em white;
  padding: 0.6vw 1.1vw 0.6vw 1.1vw;
}

.about{
  width: 100%;
  margin-top: 10vw;
}

.about-description{
  width: 100%;
}


.about-description h4{
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 2.5vw;
  text-transform: uppercase;
  font-weight: 400;
  color: #dbe8d4;
  letter-spacing: 0.5vw;
}


.about-caption{
  margin-top: 4vw;
  text-align: center;
  font-size: 1.3vw;
  color: #dbe8d4;
}

.about-info{
  margin-top: 8vw;
  width: 100%;
  display: flex;
  justify-content: center;
}


.about-info div{
  width: 40%;
  text-align: justify;
}

.about-info div p{
  font-size: 1.2vw;
  color: #dbe8d4;
  font-weight: 300;
}


.espresso-div{
    margin-top: 0.5vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.espresso-div div img{
  width: 50vw;
  height: 35vw;
}


.espresso-div div p{
  margin-top: -5vw;
  text-align: center;
  font-size: 2vw;
  font-style: italic;
  color: #dbe8d4;
  font-weight: 300;
}


.footer{
  width: 100%;
  margin-top: 10vw;
}

.footer .aye{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vw;
}

.email-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.email-div p{
  font-size: 1.2vw;
  color: #dbe8d4;
  font-weight: 200;
}

.email-div a{
  font-size: 1.2vw;
  margin-top: 1vw;
}

.icons-contact{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icons-contact a img{
  margin-top: 2vw;
  margin-right: 2vw;
  width: 64px;
  height: 64px;
}

.icons-contact .linkedin{
  width: 50px;
  height: 50px;
}

.icons-contact .insta{
  width: 50px;
  height: 50px;
}

.copyright-div{
  width: 100%;
  align-items: center;
}

.copyright-div p{
  text-align: center;
  color: #656b62;
}

.contacts::before{
  content: '';
  position: absolute;
  background-color:#2E3445;
  margin-top: -1vw;
  z-index: -1;
  width: 100%;
  height: 15vw;
  overflow: hidden;
  border-radius: 80% 80% 0 0;
}




















@media (max-width: 1465px) {
  .project-links{
    height: 40vw;
  }
}







@media (max-width: 550px) {
  .svg #svgg {
    width: 200rem;
    height: 200rem;
    margin-top: -2400px;
  }
  .header ul li {
    padding: 0 1rem 0 1rem;
  }
  .header {
    padding: 1rem;
  }

  .main {
    margin-top: -43rem;
  }
  .prof-img-div{
    margin-top: 30vw;
  }

  .description{
    width: 50%;
  }

  .project-links{
    height: 80vw;
  }

  .contacts::before{
    height: 30vw;
  }

  .description{
    width: 80%;
  }

  .description ul li{
    font-size: 3.8vw;
    line-height: 5vw;
  }

  .project-description h4{
    font-size: 5vw;
  }

  .line1{
    width: 50%;
  }

  .project-caption{
    font-size: 4vw;
  }

  .passion-description h4{
    font-size: 5vw;
  }

  .passion-caption{
    font-size: 4vw;
  }

  .insta-div p{
    font-size: 2vw;
  }

  .insta-div button{
    width: 20vw;
    height: 10vw;
  }
  .insta-div button a{
    font-size: 2vw;
  }

  .about-caption{
    font-size: 4vw;
  }

  .about-description h4{
    font-size: 5vw;
  }

  .about-info div{
    width: 60%;
  }

  .about .about-info div p{
    font-size: 3vw;
  }
  .espresso-div div p{
    font-size: 5vw;
  }

  .email-div p{
    font-size: 4vw;
  }

  .email-div a{
    font-size: 3vw;

}